/* Text */

.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-big{
    font-size: 1.75rem;
}



/* Colors */

.bg-dark-blue{
    background: #062e51;
}

.bg-ligth-blue{
    background: #336ea2;
}

/* Buttons */

.btn{
    margin-top: 1rem;
    padding:  0.8rem 3rem;
    border-radius: 4px;
    letter-spacing: 1px;
}

.btn-primary{
    background: #336ea2;
}

.btn-primary:hover{
    border: 0.5px solid #336ea2;
    background-color: #fff;
    color: #336ea2;
}

/* Forms */

.form-group{
    padding: 0.25rem 0;

}

.form-group label{
    display: block;

}

.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 5px;
    resize: none;
}



/* Container */

.container{
    max-width: 1100px;
    margin: 0 auto;
}